@font-face {
    font-family: "tipografia1";
    src: url("../font/FJALLAONE-REGULAR.TTF");
  }
h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    font-family: verdana;
    font-size: 20px;
}

.content_img {
    height: 300px;
    position: relative;
}

img {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botones-2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.botones-3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 90px;
}

.boton {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.boton1 {
    background-color: #7f47dd;
    font-family: "tipografia1";
}


.boton2 {
    background-color: #7f47dd;
    font-family: "tipografia1";
}

.boton3 {
    background-color: #7f47dd;
    font-family: "tipografia1";
}

